body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header"
                       "nav nav"
                       "section aside"
                       "footer footer";
}

@media screen and (orientation: portrait)
{body {
  grid-template-columns: 1fr;
  grid-template-rows: 10vw 5vw 1fr 10vw
  grid-template-areas: "h";
                       "n"
                       "a"
                       "f";
                     }
}

header {
 grid-area: header;
 }

 nav {
   grid-area: nav;
     display: flex;
      flex-flow: row wrap;
       justify-content:space-around;
        align-items: center;


h1
{color: red;}        