
header, nav, section, aside, footer {
 padding: 1vh 1vw;}

h1
{color: red;
text-align: center;
vertical-align: middle;
display:inline-block
}

img {
	width: 90px;
	height: 90px;
	position: right;
	vertical-align: middle;
	display:inline-block;
}

body{
 height: 100vh;
  margin: 0;
  padding: 0;
   display: grid;
   grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 5fr 1fr 1fr;
    grid-template-areas: "header header"
                       "nav nav"
                       "section aside"
                       "footer footer";
}

.image {
background-size: cover;
width: 300px;
height: 200px;
}

header {
	grid-area: header;
}

footer {
  grid-area: footer;
  text-align: center;
  font-size: 30px;
}
p
{color: blue;
text-align: center;
font-size: 25px;}

 section {
    display: flex;
    flex-flow: column;
    justify-content:center;
  }
  @media screen and (min-width: 1200px) {

}
@media screen and (orientation: portrait) 
{body{
	grid-template-columns: 1fr;
	grid-template-rows: 10vw 10vw 10vw 10vw;
	grid-template-areas: "h"
	                      "n"
	                      "a"
	                      "f";

	}}