h1
{color: red;
	font-size: 45px;
text-align: center;}

body
{background-image: url("images/pop.jpg");
background-attachment: fixed;}

#conteneur
{display: flex;
 flex-direction: column;}

h3
{color:red;
text-align: center;
font-size: 30px; }

h2
{color: red;
text-align: center;
font-size: 30px; }

p
{color: white;
text-align: center;
font-size: 20px; 
{font-family: sans-serif;}}


ul
{color: white;
text-align: center;
 font-size: 20px; 
{font-family: sans-serif;}}

ol
{color: white;
text-align: center;
 font-size: 20px; 
{font-family: sans-serif;}}

.element 1
{color: red;}

a
{text-align: center;
display:block;}

@font-face
{font-family: sans-serif;}

